.contenedor {
	position: relative;
	height: 100vh;
	/* Altura total de la ventana del navegador */
	width: 100vw;
	/* Ancho total de la ventana del navegador */
	overflow: hidden;
}

.pantalla {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.active {
	opacity: 1;
}

.inactive {
	opacity: 0;
}

.flecha {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: none;
	border: none;
	cursor: pointer;
	z-index: 10;
}

.izquierda {
	left: 10px;
}

.derecha {
	right: 10px;
}

.pantalla-uno,
.pantalla-dos {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	background-color: #f0f0f0;
}

.container-left, .container-right {
    flex: 1; /* Ocupa la mitad del espacio disponible */
	display:flex;
	justify-content: center;
}


